<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Редагування</title>
</head>
<body>
    <h1 class="text-center">Редагувати ремонту</h1>
    <form method="POST" class="text-center" action="/api/repair/put/<%= Repair[0].ID_repair %>">
        <div class="mb-3">
            <label>
                Код заявки
                <input type="number" class="form-control" placeholder="Код заявки" id="ID_app" name="ID_app" value="<%= Repair[0].ID_app %>">
            </label>
            <label>
                Дата початку
                <input type="date" class="form-control" placeholder="Дата початку" id="DateBegin" name="DateBegin" value="<%= Repair[0].DateBegin %>">
            </label>
            <label>
                Дата кінця
                <input type="date" class="form-control" placeholder="Дата кінця" id="DateEnd" name="DateEnd" value="<%= Repair[0].DateEnd %>">
            </label>
            <label>
                Назва ремонту
                <input type="text" class="form-control" placeholder="Назва ремонту" id="Name_repair" name="Name_repair" value="<%= Repair[0].Name_repair %>">
            </label>
            <label>
                Опис
                <input type="text" class="form-control" placeholder="Опис" id="Description" name="Description" value="<%= Repair[0].Description %>">
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Редагувати</button>
    </form>
    <a class="btn btn-info" href="/api/repair">Повернутися</a>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlz...twltaxVXM" crossorigin="anonymous"></script>
</body>
</html>
